@charset "UTF-8";
body {
  width: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: #575757;
}

h1 {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 500;
}
@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 500;
}
@media only screen and (min-width: 1920px) {
  h2 {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 3000px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.2rem;
}
@media only screen and (min-width: 1920px) {
  h3 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 3000px) {
  h3 {
    font-size: 2rem;
  }
}

p {
  font-size: 1rem;
}
@media only screen and (min-width: 1920px) {
  p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 2000px) {
  p {
    font-size: 1.35rem;
  }
}
@media only screen and (min-width: 3000px) {
  p {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1920px) {
  ul {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 3000px) {
  ul {
    font-size: 1.5rem;
  }
}

header li {
  list-style-type: none;
}

a {
  color: #575757;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
header .header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}
@media only screen and (min-width: 1280px) {
  header .header-row {
    width: 1280px;
  }
}
@media only screen and (min-width: 2000px) {
  header .header-row {
    width: 80%;
  }
}
header .header-row_logo-and-title_logo {
  width: 12rem;
}
@media only screen and (min-width: 480px) {
  header .header-row_logo-and-title_logo {
    width: 15rem;
  }
}
@media only screen and (min-width: 2000px) {
  header .header-row_logo-and-title_logo {
    width: 17rem;
  }
}
@media only screen and (min-width: 3000px) {
  header .header-row_logo-and-title_logo {
    width: 20rem;
  }
}
header .header-row_menu {
  display: flex;
  flex-direction: row;
  padding: 0;
}
header .header-row_menu_ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 1rem 0 0;
}
@media only screen and (min-width: 768px) {
  header .header-row_menu_ul {
    margin: 0 1.5rem 0 0;
    flex-direction: row;
  }
}
header .header-row_menu_ul li {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 480px) {
  header .header-row_menu_ul li {
    margin: 0 2rem 0 0;
  }
}
@media only screen and (min-width: 2000px) {
  header .header-row_menu_ul li {
    margin: 0 3rem 0 0;
  }
}

footer {
  background-color: #FDF2EC;
  color: #74664b;
  padding: 1rem;
}
footer .footer-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer .footer-row_text {
  text-align: center;
}
footer .footer-row_social-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
@media only screen and (min-width: 480px) {
  footer .footer-row_social-logos {
    justify-content: center;
  }
}
footer .footer-row_social-logos_bloc-logo_logo {
  font-size: 2rem;
  color: #74664b;
}
@media only screen and (min-width: 480px) {
  footer .footer-row_social-logos_bloc-logo_logo {
    margin-right: 2rem;
  }
}
footer .footer-row_social-logos_bloc-logo_logo:hover {
  color: #ffffff;
}

.button-primary {
  border: none;
  color: #74664b;
  background-color: #FDF2EC;
  margin: 1rem 0 0 0;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 1920px) {
  .button-primary {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 3000px) {
  .button-primary {
    padding: 1.3rem 1.8rem 1.3rem 1.8rem;
  }
}
.button-primary:hover {
  cursor: pointer;
  background-color: #c27956;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0px 0px 15px -7px #000000;
}

.banner {
  background-image: url(../img/image-de-présentation-La-Chouette-Agence.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  position: relative;
}
.banner::after {
  content: "";
  background-image: url(../img/texture-papier.png);
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.banner_h2 {
  color: #FDF2EC;
  z-index: 1;
  font-weight: 400;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 0px 0px 5px black;
}
@media only screen and (min-width: 1920px) {
  .banner_h2 {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 3000px) {
  .banner_h2 {
    font-size: 2.5rem;
  }
}
.banner_text {
  text-align: center;
  color: #FDF2EC;
  text-shadow: 0px 0px 5px black;
}

.square {
  font-weight: 800;
  font-size: 0.9rem;
  border-radius: 0px;
  border-top: 2px solid #E3E3E3;
  border-left: 2px solid #E3E3E3;
  border-right: 2px solid #979797;
  border-bottom: 2px solid #979797;
}
@media only screen and (min-width: 1920px) {
  .square {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 3000px) {
  .square {
    font-size: 1.4rem;
  }
}

.square:hover {
  border: 2px solid #74664b;
}

.banner2 {
  background-image: url(../img/image-de-présentation-La-Chouette-Agence-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
}
.banner2::after {
  content: "";
  background-image: url(../img/texture-papier.png);
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.banner2_h2 {
  color: #FDF2EC;
  text-align: center;
  text-shadow: 0px 0px 1.5px #202020;
}

/* overlay sur les images des articles */
.overlay {
  position: relative;
  width: 100%;
}
.overlay:hover .bloc-icon-overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.bloc-icon-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.overlay-icon {
  border-radius: 50px;
  padding: 1rem 1.15rem;
  background-color: grey;
  color: #ffffff;
}

@media only screen and (min-width: 320px) {
  .banner_logo {
    width: 6rem;
    margin-bottom: 0.5rem;
    z-index: 1;
  }

  .banner_title {
    color: #FDF2EC;
    z-index: 1;
    text-shadow: 0px 0px 5px black;
  }

  .div-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }
  .div-presentation_columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    padding: 0 0 2rem 0;
  }

  /* portfolio */
}
@media only screen and (min-width: 320px) and (min-width: 1280px) {
  .div-presentation_columns {
    width: 60%;
  }
}
@media only screen and (min-width: 320px) {
  .div-presentation_columns_first-text-h2 {
    width: 90%;
  }
}
@media only screen and (min-width: 320px) and (min-width: 992px) {
  .div-presentation_columns_first-text-h2 {
    width: 60%;
  }
}
@media only screen and (min-width: 320px) {
  .div-presentation_columns .first-text-h2 {
    font-weight: 300;
    font-size: 1.3rem;
    color: #575757;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 2000px) {
  .div-presentation_columns .first-text-h2 {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 3000px) {
  .div-presentation_columns .first-text-h2 {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 320px) {
  .div-presentation_columns_last-text {
    width: 90%;
  }
}
@media only screen and (min-width: 320px) and (min-width: 992px) {
  .div-presentation_columns_last-text {
    width: 60%;
  }
}
@media only screen and (min-width: 320px) {
  .div-presentation_columns_last-text_text {
    font-style: italic;
  }
}
@media only screen and (min-width: 320px) {
  .div-presentation_columns_last-text_Maxime-Guibard {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: -0.5rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 2000px) {
  .div-presentation_columns_last-text_Maxime-Guibard {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 320px) {
  .div-presentation_columns_three-columns {
    margin: 2rem 0 2rem 0;
  }
}
@media only screen and (min-width: 320px) and (min-width: 768px) {
  .div-presentation_columns_three-columns {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 320px) {
  .div-presentation_columns_three-columns_column:nth-child(2) {
    margin: 5rem 0 5rem 0;
  }
}
@media only screen and (min-width: 320px) and (min-width: 768px) {
  .div-presentation_columns_three-columns_column:nth-child(2) {
    margin: auto;
  }
}
@media only screen and (min-width: 320px) {
  .div-presentation_columns_three-columns_column {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (min-width: 768px) {
  .div-presentation_columns_three-columns_column {
    padding: 0 1rem 0 1rem;
  }
}
@media only screen and (min-width: 320px) {
  .div-presentation_columns_three-columns_column_logo {
    width: 7rem;
  }
}
@media only screen and (min-width: 320px) {
  .div-presentation_columns_three-columns_column_title {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 320px) and (min-width: 2000px) {
  .div-presentation_columns_three-columns_column_title {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 320px) {
  .div-presentation_columns_three-columns_column_text {
    font-weight: 300;
  }
}
@media only screen and (min-width: 320px) {
  .banner2_contain {
    background: rgba(116, 102, 75, 0.702);
    text-align: center;
    z-index: 1;
    margin: 3rem 0;
    padding: 1rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 480px) {
  .banner2_contain {
    padding: 2rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 992px) {
  .banner2_contain {
    padding: 3rem;
  }
}
@media only screen and (min-width: 320px) and (min-width: 1280px) {
  .banner2_contain {
    width: 40%;
  }
}
@media only screen and (min-width: 320px) {
  .banner2_contain_text {
    color: #ffffff;
    font-weight: 300;
  }
}
@media only screen and (min-width: 320px) {
  .banner2_contain_link {
    color: #ffffff;
    text-decoration: underline;
  }
}
@media only screen and (min-width: 320px) {
  .div-presentation-posts {
    background-image: url(../img/fond-lignes.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }
  .div-presentation-posts_columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
  }
}
@media only screen and (min-width: 320px) and (min-width: 768px) {
  .div-presentation-posts_columns {
    width: 80%;
  }
}
@media only screen and (min-width: 320px) and (min-width: 1280px) {
  .div-presentation-posts_columns {
    width: 50%;
  }
}
@media only screen and (min-width: 320px) {
  .div-presentation-posts_columns_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
  }
}
@media only screen and (min-width: 320px) and (min-width: 768px) {
  .div-presentation-posts_columns_column {
    flex-direction: row;
  }
}
@media only screen and (min-width: 320px) {
  .div-presentation-posts_columns_column_posts {
    margin-bottom: 2rem;
    width: 50%;
    padding: 0 2rem;
  }
  .div-presentation-posts_columns_column_posts_image {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) {
  .scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all 0.3s ease-in-out;
  }
}
@media only screen and (min-width: 320px) {
  .scrollToTop span {
    margin-top: 6px;
  }
}
@media only screen and (min-width: 320px) {
  .showScrollTop {
    font-size: 14px;
    opacity: 1;
  }
}
@media only screen and (min-width: 320px) {
  a[data-lightbox] {
    position: relative;
    display: block;
    text-align: center;
  }
}
@media only screen and (min-width: 320px) {
  a[data-lightbox]:hover::before {
    content: "+";
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 32px;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: #FFF;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}
@media only screen and (min-width: 320px) {
  a[data-lightbox]:hover img {
    opacity: 0.6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
  }
}
@media only screen and (min-width: 320px) {
  #lightbox-modal {
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 320px) {
  #lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;
  }
}
@media only screen and (min-width: 320px) {
  #lightbox-modal .modal-dialog img {
    max-height: 100%;
    margin: 0 0 1rem 0;
  }
}
@media only screen and (min-width: 320px) {
  .lightbox-caption {
    padding: 20px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0px;
  }
}
@media only screen and (min-width: 320px) {
  .close-lightbox {
    color: #FFF;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    line-height: 30px;
    padding: 0 9px 5px;
    opacity: 0.3;
  }
}
@media only screen and (min-width: 320px) {
  .close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
    opacity: 1;
    color: #FFF;
  }
}
@media only screen and (min-width: 320px) {
  .next-lightbox,
.prev-lightbox {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 45%;
    z-index: 1;
    opacity: 0.4;
  }
}
@media only screen and (min-width: 320px) {
  .next-lightbox {
    padding: 6px 8px 1px 13px;
    right: 25px;
  }
}
@media only screen and (min-width: 320px) {
  .prev-lightbox {
    padding: 6px 13px 1px 10px;
    left: 25px;
  }
}
@media only screen and (min-width: 320px) {
  .snapshot-lb .modal-body {
    padding-bottom: 45px;
  }
}
@media only screen and (min-width: 320px) {
  .snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgba(0, 0, 0, 0.5);
    background: none;
  }
}

/*# sourceMappingURL=index.css.map */
