$text: #575757;
$title-color: #333333;
$primary-color: #F3976C;
$white-color: #ffffff;
$footer-text: #FBE0D3;
$container-contact-color: rgba(151, 133, 97, 0.55);

$breakpoint-phone: "only screen and (min-width: 320px)";
$breakpoint-tablet-min: "only screen and (min-width: 480px)";
$breakpoint-tablet-mid: "only screen and (min-width: 768px)";
$breakpoint-tablet-max: "only screen and (min-width: 992px)";
$breakpoint-desktop: "only screen and (min-width: 1280px)";
$breakpoint-TV-min: "only screen and (min-width: 1920px)";
$breakpoint-TV-mid: "only screen and (min-width: 2000px)";
$breakpoint-TV-max: "only screen and (min-width: 3000px)";