@import "variables";
@import "bases";
@import "components";

.presentation_bloc-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.bloc-formulaire{
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 90%;
    padding: 2rem 0 2rem 0;

    @media #{$breakpoint-desktop} {
        width: 60%;
    }
}

.forms{
    margin-bottom: 1rem;
    font-size: 1rem;

    @media #{$breakpoint-TV-min} {
        font-size: 1.5rem;
    }

    @media #{$breakpoint-TV-max} {
        font-size: 1.8rem;
    }
}

.contacts{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}